    <div class="container" ng-controller="ProductController">

            <div class="col-md-8">
                <img class="img-responsive" src="{{ image }}" alt="">
            </div>

            <div class="col-md-4">
                <h3>{{ productTitle }}</h3>

                <h4>Fecha de Publicacion:</h4>

                <p>{{ fecha }}</p>

                <h4>Descripcion:</h4>

                <p>{{ descripcion }}</p>

                <h4>Precio:</h4>

                <p>{{ precio }}</p>

                <h4>Rating:</h4>
                <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                </p>

                <p><button type="button" class="btn btn-primary btn-lg">COMPRAR</button></p>

            </div>

    </div>