<div class="container" ng-controller="ProductController">

        <div class="col-md-8">
            <img class="img-responsive" src="{{ product.image }}" alt="">
        </div>

        <div class="col-md-4">
            <h3>{{ product.productTitle }}</h3>

            <h4>Fecha de Publicacion:</h4>

            <p>{{ product.fecha }}</p>

            <h4>Descripcion:</h4>

            <p>{{ product.descripcion }}</p>

            <h4>Precio:</h4>

            <p>{{ product.precio }}</p>

            <h4>Rating:</h4>
            <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            </p>

            <div ng-if="product.featured"> <!-- AGREGO UNA CONDICION on NG-if -->
                
                <p>ES FEATURE</p>

            </div>

            <ul>
                
                <li ng-repeat="tag in product.tags">
                    
                    {{tag}}

                </li>

            </ul>

            <p><button type="button" class="btn btn-primary btn-lg">COMPRAR</button></p>

        </div>

</div>

<!-- CLOSE VIEW -->



